<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/完整项目/admin/lib/css/bootstrap.css">
    <script src="/完整项目/admin/lib/js/bootstrap.bundle.js"></script>
    <link rel="stylesheet" href="index.css">
</head>

<body>
    <div class="logContainer">
        <h1>Seven后台管理系统</h1>
        <form action="" id="loginform">
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">用户名</label>
                <input type="text" class="form-control" id="username" aria-describedby="emailHelp" required>
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">密码</label>
                <input type="password" class="form-control" id="password" required>
            </div>
            <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">记住用户名</label>
            </div>
            <button type="submit" class="btn btn-primary">登录</button>
            <div id="emailHelp" class="form-text" style="display: none; color: red;">密码账号出错</div>
    </div>
    </form>
    <script src="index.js"></script>
</body>

</html>