<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/完整项目/admin/lib/css/bootstrap.css">
  <script src="/完整项目/admin/lib/js/bootstrap.bundle.js"></script>
  <link rel="stylesheet" href="index.css">
  <script src="/完整项目/admin/lib/lodash.js"></script>
</head>

<body>
  <header></header>
  <section>
    <div class="title">das</div>
    <p class="card-text"><span class="author">dsa</span></p>
    <hr>
    <div class="newsContent">

    </div>
  </section>

  <script src="index.js" type="module">
  </script>
</body>

</html>