@import "..\\style.scss";

section .bgimg{
    background: no-repeat url("http://localhost:3000/bg.jpg");
    width: 100%;
    height: 400px;
    background-size: cover;
    position: relative;
    .searth{
        position: absolute;
        bottom: 50px;
        left: 50%;
        transform: translate(-50%);
        width: 65%;
    }
    .list-group{
        position: absolute;
        width: 100%;
        opacity: 0.8;
    }
}
.cardshit{
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    .cardContainer{
        width:280px;
        .imgcard{
            width: 100%;
            height: 150px;
            background-size: cover !important;
            background-position: center;
        }
        &:hover{
            box-shadow: 0 0 10px black;
        }
    }
}
.clearfix:after{
    content:"";				/*设置内容为空*/
    height:0;				/*高度为0*/
    line-height:0;			/*行高为0*/
    display:block;			/*将文本转为块级元素*/
    visibility:hidden;		/*将元素隐藏*/
    clear:both;				/*清除浮动*/
}
.newsTabs{
    margin: 30px;
    .tab-link{
        color: black;
    }
    .box{
        padding: 10px;
        margin-bottom: 5px;
        overflow: hidden;
        border: 1px solid black;
        img{
            width: 120px;
            // height: 100px;
            float: left;
        }
        &:hover{
            box-shadow: 0 0 10px black;
        }
    }
    
}

   